.ms-FocusZone i{
  position: relative;
  left: 275px;
}
.ms-FocusZone i[data-icon-name='Completed']{
  color: green;
}
.ms-FocusZone i[data-icon-name='warning']{
  color: red;
}

.ms-FocusZone li:nth-child(1) div[name='General
']{
  background: orangered !important;
}
.ms-FocusZone li:nth-child(2) div[name='From
']{
  background: orangered !important;
}

.ms-Nav-navItem .ms-Button-flexContainer:hover i{
  color: red;
}
.ms-Nav-navItem .ms-Nav-compositeLink:hover .ms-Nav-link{
  background: transparent;
}
.ms-Nav-navItem .ms-Button-flexContainer:hover>i[data-icon-name='Completed']{
  color: green;
}
.ms-Nav-navItem .ms-Button-flexContainer:hover>i[data-icon-name='warning']{
  color: red;
}
//.ms-Nav-compositeLink:hover {
//  color: green;
//}
.linkText-39{
  color: #000000 !important;
  font-family: "helvetica neue", helvetica, sans-serif;
}

.navItem-44 {
  //background: none;
}
.compositeLink-40{
 background: none;
}
.link-76{
  //background: none;
}
li:nth-child(3) button:nth-child(1){
  display: none;
}
.link-81{
  background: gainsboro;
}
.link-81:hover{
  background: gainsboro;
}
.link-61{
  background: gainsboro;
}
